main, h1{ padding: 1em;
color: orangered;}

html{
  background-color: lightgray;
}

header li{
  list-style-type: none;
  
}
img{
  height: 10rem;
  width: auto;
  box-shadow: 10px 5px 5px gray;
  border-radius: 20px;
}

main p{
  background-color: gainsboro;
  color: orangered
}

main li{
  border: thin solid black;
  padding: 1rem;
  background-color: gainsboro;
  list-style-type: none;
  box-shadow: 10px 5px 5px gray;
  
}

footer{
  border: thin solid black;
  color : orangered
}
